[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".zsh/plugins/zaw"]
	path = .zsh/plugins/zaw
	url = git://github.com/zsh-users/zaw.git
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
